{{- define "test" }}
{{- if or .Site.Params.debug (findRE `\blayout-name\b` $.Site.Params.traceFlags) }} 
<code>tests/list.html</code><br/>
{{- end}}

{{ $myDir   := .Dir | default (printf "%s/" .Section) }}
{{ $myPages := where .Site.Pages "Section" "tests" }}

<h2>{{.Dir}}</h2>

<h3>Directories</h3>
<ul>
  <li><a href="{{ .Permalink }}../">.. (up)</a></li>
  {{ range $myPages  }}
    {{ if and (in .Dir $myDir ) (ne .Dir $myDir) }}
      {{ if eq .Parent.Dir $myDir  }}
        <li><a href="{{ .Permalink }}">{{ .Permalink | relURL }}</a></li>
      {{ end }}
    {{ end }}
  {{ end }}
</ul>

<h3>{{.Section | humanize}}</h3>
<ul>
  {{ range $myPages  }}
    {{ if in .Dir $myDir}}
      {{ if and (eq .Parent.Dir $myDir ) .Permalink  }}
      {{ $myLeaf := ((strings.TrimPrefix  (printf "/%s" .Dir)  (.Permalink | relURL)) | strings.TrimSuffix "/") }}
        {{ if $myLeaf }}<li><a href="{{ .Permalink }}">{{ $myLeaf }}</a></li>{{end}}
      {{ end }}
    {{ end }}
  {{ end }}
</ul>

{{ end }}
