{{/* __HIDE__ */}} {{- define "render" }}
{{/* Page Front Matter */}}
{{"https://golang.org/pkg/time/#Time" | markdownify }}
{{"https://github.com/toml-lang/toml#local-time" | markdownify }}

.Params.Time1  : {{ .Params.Time1 }}
.Params.Time2  : {{ .Params.Time2 }}
.Params.Time3  : {{ .Params.Time3 }}

{{ printf "`%s` is `%T`" .Page.Lastmod .Page.Lastmod }}
{{ printf "`%s` is `%T`" .Params.Time1 .Params.Time1 }}
{{ printf "`%s` is `%T`" .Params.Time3 .Params.Time3 }}
{{ printf "`%s` is `%T`" .Params.somextraparam .Params.somextraparam }}

{{ $myTime := time (printf "0001-01-01T%s" .Params.Time3) }}
{{ printf "`%s` is `%T`" $myTime $myTime }}

{{ .Params.Time2 }}
{{ .Params.Time1 }}
{{ .Params.somextraparam }}

{{ (.Params.somextraparam2).Sub .Params.somextraparam }}

{{ printf "`%s` is `%T`" ((.Params.somextraparam2).Sub .Params.somextraparam) ((.Params.somextraparam2).Sub .Params.somextraparam) }}

{{ dateFormat "Monday, Jan 2, 2006" .Params.somextraparam }}
{{ dateFormat "15:04"               .Params.somextraparam }}

{{ (.Params.somextraparam).Format "Monday, Jan 2, 2006"  }}
{{ (.Params.somextraparam).Format "15:04"  }}



{{/* __HIDE__ */}} {{- end }}
