<!DOCTYPE html>
<html>
  <head>
    {{- partial "head.html" . }}
  </head>
  <body>

    <section id="top" class="w3-theme" >
      <div class="w3-container w3-theme-l4">

        {{- if or .Site.Params.debug (findRE `\blayout-name\b` $.Site.Params.traceFlags) }}
        <code>_default/single.html</code><br/>
        {{- end}}

        {{- partial "breadcrumb.html" . }}

        {{ if not .Section }}
          <div class="w3-container w3-margin-top w3-margin-bottom">
            <div class="w3-card-4 w3-round-xlarge w3-theme-l3">
              <div class="w3-container">
              {{ .Content}}
              </div>
            </div>
          </div>
        {{ else if eq .Section "shortcodes" }}
          <div class="w3-row">
            <div class="w3-container w3-col m6 w3-theme-l2">
              <pre>{{printf "content/%s" .File.Path  | readFile | replaceRE `(?m)^(layout|weight).*\n` ""  }}</pre>
            </div>
            <div class="w3-container w3-col m6 w3-theme-l3">
              {{ .Content }}
            </div>
          </div>
          <div class="w3-container w3-card w3-theme-d1">
            <pre>{{printf "layouts/shortcodes/%s.html" .File  | readFile }}</pre>
          </div>

        {{ end }}

      </div>
    </section>

  </body>
</html>
