{{- define "example" }}
{{- if or .Site.Params.debug (findRE `\blayout-name\b` $.Site.Params.traceFlags) }}
<code>examples/list.html</code><br/>
{{- end}}

{{ $myDir   := .Dir | default (printf "%s/" .Section) }}
{{ $myPages := where .Site.Pages "Section" "examples" }}

<div class="w3-row">
  <div class="w3-col m6 w3-theme-l4">
    <div class="w3-margin">

    <h3>Directories</h3>
    <ul>
      <li><a href="{{ .Permalink }}../">.. (up)</a></li>
      {{ range $myPages  }}
    {{- if .Site.Params.debug }}
    .Permalink : {{ .Permalink }}<br/>
    .$myDir    : {{ $myDir }}<br/>
    .Dir       : {{ .Dir }}<br/>
    .Parent.Dir: {{ .Parent.Dir }}<br/>
    .Name      : {{ .Name }}<br/>
    {{ end }}
        {{ if and (in .Dir $myDir) (ne .Dir $myDir) }}
          {{ if eq .Parent.Dir $myDir }}
            <li>
              <a class="w3-button text-button " href="{{ .Permalink }}">{{ .Permalink | relURL }}</a>
              {{if and false .Description }}
              <div class="w3-container w3-small w3-theme-l4">{{.Description | markdownify | safeHTML }}</div>
              {{end}}
            </li>
          {{ end }}
        {{ end }}
      {{ end }}
    </ul>
  </div>
  </div>

    {{if .Description }}
    <div class="w3-col m6">
    <div class="w3-margin-top w3-card-4 w3-round-large w3-padding w3-theme-l3">
    {{.Description | markdownify | safeHTML }}</div>
    </div>
    </div>
    {{end}}

</div>


<div class="w3-padding w3-theme-d5">
  <h3>{{.Section | humanize}}</h3>
  <ul>
    {{ range $myPages  }}
  {{- if .Site.Params.debug }}
  .Permalink : {{ .Permalink }}<br/>
  .Dir       : {{ .Dir }}<br/>
  .Parent.Dir: {{ .Parent.Dir }}<br/>
  .Name      : {{ .Name }}<br/>
  {{ end }}
      {{ if in .Dir $myDir}}
        {{ if and (eq .Parent.Dir $myDir ) .Permalink  }}
        {{ $myLeaf := ((strings.TrimPrefix  (printf "/%s" .Dir)  (.Permalink | relURL)) | strings.TrimSuffix "/") }}
          {{ if $myLeaf }}
            <li>
              <a class="w3-button text-button " href="{{ .Permalink }}">{{ $myLeaf }}</a>
              {{if .Description }}
              <br/><small>{{.Description | markdownify | safeHTML }}</small>
              {{end}}
            </li>
          {{end}}
        {{ end }}
      {{ end }}
    {{ end }}
  </ul>
</div>

{{ end }}

{{/*
.Permalink : http://localhost:1313/examples/basics/
.$myDir : examples/
.Dir : examples/basics/
.Parent.Dir: examples/
.Name :
/examples/basics/

.Permalink : http://localhost:1313/examples/functions/
.$myDir : examples/
.Dir : examples/functions/
.Parent.Dir: examples/
.Name :

*/}}
