<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type"    content="text/html; charset=utf-8" />
<meta name="viewport"              content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<meta name="robots"                content="all,follow" />
<meta name="googlebot"             content="index,follow,snippet,archive" />

<link rel="stylesheet" href="{{ relURL "vendor/w3css/4/w3.css"                 }}" />
<link rel="stylesheet" href="{{ relURL (default `vendor/w3css/4/w3-theme-red.css` ($.Site.Param `w3cssColorTheme`)) }}" />
<link rel="stylesheet" href="{{ relURL "css/style.css"                         }}" />

<title>{{$.Site.Title}}</title>
