{{- if or .Site.Params.debug (findRE `\blayout-name\b` $.Site.Params.traceFlags) }}
<code>partial/section.list.html ({{.Section}}) </code><br/>
{{- end}}
  {{ block "listing" . }}{{end}}


{{- define "listing" }}
{{- if or .Site.Params.debug (findRE `\blayout-name\b` $.Site.Params.traceFlags) }}
<code>partial/section.list.html (listing)</code><br/>
{{- end}}

  {{ $myDir   := .Dir | default (printf "%s/" .Section) }}
  {{ $myPages := where .Site.Pages "Section" .Section }}

  {{/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Directories */}}
  <div class="w3-row">

    <div class="w3-col m6 w3-theme-l4">
      <div class="w3-margin">

        <h3>Directories</h3>
        <ul>
          <li><a class="w3-button text-button " href="{{ .Permalink }}../">.. (up)</a></li>
          {{ range $myPages  }}
            {{- if .Site.Params.debug }}
              .Permalink : {{ .Permalink }}<br/>
              .$myDir    : {{ $myDir }}<br/>
              .Dir       : {{ .Dir }}<br/>
              .Parent.Dir: {{ .Parent.Dir }}<br/>
              .Name      : {{ .Name }}<br/>
            {{ end }}
            {{ if and (in .Dir $myDir) (ne .Dir $myDir) }}
              {{ if eq .Parent.Dir $myDir }}
                <li>
                  <a class="w3-button text-button " href="{{ .Permalink }}">{{ (strings.TrimPrefix .Parent.Dir .Dir | strings.TrimSuffix "/") }}</a>
                  {{if and false .Description }}
                  <div class="w3-container w3-small w3-theme-l4">{{.Description | markdownify | safeHTML }}</div>
                  {{end}}
                </li>
              {{ end }}
            {{ end }}
          {{ end }}
        </ul>
      </div> {{/* w3-margin */}}
    </div> {{/* w3-col */}}

   {{if .Description }}
     <div class="w3-col m6">
       <div class="w3-margin-top w3-margin-bottom w3-card-4 w3-round-large w3-padding w3-theme-l3">
         {{.Description | markdownify | safeHTML }}
       </div> {{/* w3-margin */}}
     </div> {{/* w3-col */}}
   {{end}}

  </div> {{/* w3-row */}}


  {{/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ examples */}}

  <div class="w3-padding w3-theme-d5">
    <h3>{{.Section | humanize}}</h3>
      {{ $.Scratch.Set "theCntLiEl" -1 }}
      {{ $myCntPerHalf :=  (default 25 ($.Site.Param `fileLinkCntPerHalf`)) }}
      {{ range $myPages  }}
        {{- if .Site.Params.debug }}
          .Permalink : {{ .Permalink }}<br/>
          .Dir       : {{ .Dir }}<br/>
          .Parent.Dir: {{ .Parent.Dir }}<br/>
          .Name      : {{ .Name }}<br/>
          .Path      : {{ .Path }}<br/>
          .File      : {{ .File }}<br/>
        {{ end }}

        {{ if and (in .Dir $myDir) (not (in .Path "_index.md")) }}
          {{ if and (eq .Parent.Dir $myDir ) .Permalink  }}
          {{/* $myLeaf := ((strings.TrimPrefix  (printf "/%s" .Dir)  (.Permalink | relURL)) | strings.TrimSuffix "/") */}}
          {{ $myLeaf := (strings.TrimPrefix .Parent.Dir .Path | strings.TrimSuffix ".md") }}
          {{ $.Scratch.Add "theCntLiEl" 1 }}

          {{- if or (eq ($.Scratch.Get "theCntLiEl") 0 ) (eq (mod ($.Scratch.Get "theCntLiEl") (mul $myCntPerHalf 2)) 0) }}
            <div class="w3-row w3-theme-d4">
          {{ end }}
          {{- if eq (mod ($.Scratch.Get "theCntLiEl") $myCntPerHalf) 0 }}
              <div class="w3-col m6">
                <ul>
          {{ end }}
           <li>
             <a class="w3-button text-button " href="{{ .Permalink }}">{{ $myLeaf }}</a>
             {{if .Description }}
               <br/><small>{{.Description | markdownify | safeHTML }}</small>
             {{end}}
           </li>

          {{- if eq (mod ($.Scratch.Get "theCntLiEl") $myCntPerHalf) (sub $myCntPerHalf 1) }}
                </ul>
                </div> {{/* w3-col */}}
          {{ end }}

          {{- if eq (mod ($.Scratch.Get "theCntLiEl") (mul $myCntPerHalf 2) ) (sub (mul $myCntPerHalf 2) 1) }}
                </div> {{/* w3-row */}}
          {{ end }}

          {{ end }}
        {{ end }}
      {{ end }}
  </div> {{/* w3-padding */}}

{{ end }}
