{{- range .Site.Home.Sections.ByTitle}}
  {{- template "section-tree-nav" . }}
{{- end}}

{{- define "section-tree-nav" }}
  {{- if .IsSection }}
    {{.Title}}
    {{- if ne (add (len .Pages) (len .Sections)) 0 }}
      {{- .Scratch.Set "pages" .Pages }}
      {{- if .Sections}}
        {{- .Scratch.Add "pages" .Sections }}
      {{- end}}
      {{- range (.Scratch.Get "pages").ByTitle }}
        {{- template "section-tree-nav" . }}
      {{- end}}
    {{- end}}
  {{- else}}
    {{.Permalink}}<br/>
  {{- end}}
{{- end}}
